.modal-content {
  height: 100%;
}

input {
  color: #2c384a !important;
}

.taskPageDatePicker input {
  width: 100%;
  border: 1px solid #bbc0c9;
  outline: none;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  color: #2c384a;
}

.taskInfoCommentHeader {
  font-size: 1.1rem;
}

.taskInfoCommentContent {
  border: 1px solid lightgrey;
  padding: 1rem;
  border-radius: 4px;
  margin: auto;
  padding-top: 1.5rem;
}

.taskInfoCommentAvatar {
  width: 75px;
  margin-top: 0.3rem;
}

.taskInfoCommentBox {
  position: relative;
  width: 87.2%;
}

.taskInfoCommentBox h4 {
  font-size: 1rem;
}

.taskInfoCommentBox span {
  position: absolute;
  right: 0.8rem;
  top: 0rem;
  font-size: 14px;
}

.taskInfoCommentBox textarea {
  background-color: white !important;
}

.taskInfoCommentDelete,
.taskInfoCommentPost {
  margin-left: auto;
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  padding: 2px;
  width: 80px;
  justify-content: center;
  gap: 4px;
  outline: none;
}

.taskInfoCommentPost {
  width: 104px;
}

.taskInfoCommentDelete:hover,
.taskInfoCommentPost:hover {
  color: white;
}

@media (max-width: 650px) {
  .taskInfoCommentBox {
    margin: 1rem 0;
  }
  .taskInfoCommentBox h4 {
    position: absolute;
    top: -3rem;
    right: 4rem;
  }
  .taskInfoCommentBox span {
    right: -1.5rem;
    top: -5.3rem;
  }
  .taskInfoCommentBox textarea {
    height: 130px;
  }
}
